// mat-card {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 500px;
// }
// mat-card-content {
//   display: flex;
//   flex-direction: column;
//   width: 90%;
// }
// mat-card-title {
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
// form {
//   display: flex;
//   flex-direction: column;
// }
// .register {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  width: 90%;
}
mat-card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
nz-input-group {
  border-radius: 0.5rem;
  height: 2.5rem;
  margin-top: 0.25rem;
}
.register-form {
  display: flex;
  justify-content: center;
}
.login-content {
  margin-top: 1rem;
  align-self: center;
}
