<div [nzGutter]="[16, 24]" nz-row nzAlign="top" nzJustify="start">
  <div style="margin-top: 1rem" nz-col nzSpan="18" class="height-100">
    <nz-card [nzTitle]="title">
      <ng-template #title>
        <div class="flex justify-between">
          <h2 nz-typography>{{ project.name }}</h2>
          <div>
            <button (click)="openEditForm()" nz-button nzType="default">
              <span nz-icon nzType="edit"></span>
              Edit
            </button>
          </div>
        </div>
      </ng-template>
      <div class="flex justify-between">
        <p nz-typography>Description : {{ project.description }}</p>
        <button (click)="openIssueCreateDialog()" nz-button nzType="primary">
          Create Issue
        </button>
      </div>
      <h3 nz-typography>List of Issues</h3>
      <app-issue-table [issues]="issues()"></app-issue-table>
      <div class="pr-24 flex justify-end">
        <nz-pagination
          (nzPageIndexChange)="
            issuesService.getIssuesForProject(project.id, $event)
          "
          [nzPageSize]="issuesService.pageSize"
          [(nzPageIndex)]="issuesService.pageNumber"
          [nzTotal]="$any(issuesService.totalIssues())"
        >
          >
        </nz-pagination>
      </div>
    </nz-card>
  </div>
  <div style="margin-top: 1rem" nz-col nzSpan="6" class="height-100">
    <!-- <div nz-col class="height-50">
      <nz-card nzTitle="Issues Chart"> Chart Remaining </nz-card>
    </div> -->
    <div nz-col style="max-height: 60vh" class="height-50">
      <nz-card nzTitle="Collaborators">
        <div style="display: flex; justify-content: flex-end">
          <button (click)="openAddCollaborator()" nzType="default" nz-button>
            Add new
          </button>
        </div>
        <nz-list nzItemLayout="horizontal">
          @for (person of project.collaborators; track person; let i = $index) {
  <nz-list-item
           
          >
            <nz-list-item-meta [nzDescription]="person.email">
              <nz-list-item-meta-title
                ><div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <a nz-typography>{{ person.name }}</a>
                  <!-- @ts-ignore -->
                  <button
                    (click)="openCollaboratorDelete(person.userId)"
                    nzDanger
                    nz-button
                  >
                    <span nz-icon nzType="delete"></span>
                  </button>
                </div>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
          </nz-list-item>
}
          @if (project.collaborators.length === 0) {
<nz-list-empty
           
          ></nz-list-empty>
}
        </nz-list>
      </nz-card>
    </div>
  </div>
</div>
