<h2 mat-dialog-title>Project Create</h2>
<mat-dialog-content>
  <form [formGroup]="projectCreateOrUpdateForm">
    <nz-form-item>
      <nz-form-control nzErrorTip="Project name is required">
        <label>Title</label>
        <input
          type="text"
          nz-input
          [nzSize]="'large'"
          formControlName="name"
          placeholder="Title"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Description must be at least 6 characters">
        <label>Description</label>
        <nz-textarea-count [nzMaxCharacterCount]="200">
          <textarea rows="4" formControlName="description" nz-input></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    style="margin-right: 1rem"
    nz-button
    mat-dialog-close
    nzType="default"
    nzDanger
  >
    Cancel
  </button>
  <button
    nz-button
    [disabled]="projectCreateOrUpdateForm.invalid"
    (click)="createOrUpdateProject()"
    nzType="primary"
  >
    Create
  </button>
</mat-dialog-actions>
